NET a(3) LOC=K13;
NET a(2) LOC=K14;
NET a(1) LOC=J13;
NET a(0) LOC=J14;

NET b(3) LOC=H13;
NET b(2) LOC=H14;
NET b(1) LOC=G12;
NET b(0) LOC=F12;

NET g(7) LOC=P11;
NET g(6) LOC=P12;
NET g(5) LOC=N12;
NET g(4) LOC=P13;
NET g(3) LOC=N14;
NET g(2) LOC=L12;
NET g(1) LOC=P14;
NET g(0) LOC=K12;