//! **************************************************************************
// Written by: Map P.58f on Fri Apr 22 09:58:19 2022
//! **************************************************************************

SCHEMATIC START;
COMP "g<0>" LOCATE = SITE "K12" LEVEL 1;
COMP "g<1>" LOCATE = SITE "P14" LEVEL 1;
COMP "g<2>" LOCATE = SITE "L12" LEVEL 1;
COMP "g<3>" LOCATE = SITE "N14" LEVEL 1;
COMP "b<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "b<1>" LOCATE = SITE "G12" LEVEL 1;
COMP "b<2>" LOCATE = SITE "H14" LEVEL 1;
COMP "b<3>" LOCATE = SITE "H13" LEVEL 1;
SCHEMATIC END;

